body{
    margin-top: 110px;
    background-color: #F8F9FA;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 2000px;
    margin-right: 5%;
    margin-left: 5%;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 38px;
    height: 100px;
    background-color: #1F3A93;
    z-index: 1;
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    transition: transform 0.2s ease;
}
a:hover{
    transform: scale(1.1);
}
.active{
    color: #A8B9E7;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h1{
    font-size: 48px;
    color: #1F3A93;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
h2{
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #1F3A93;
}
h3{
    color: #1F3A93;
    font-size: 18px;
}


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description{
    max-width: 1000px;
    text-align: end;
}
.description p {
    font-size: 24px;
    color: #1F3A93;
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    margin-bottom: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    border: 1px solid #dcdfe6;
    width: 400px;
    height: 400px;
    border-radius: 8px;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.top{
    background-color: #A8B9E7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 400px;
    height: 100px;
}
.top h2{
    text-align: center;
    color: white;
}
.bottom{
    display: flex;
    gap: 10px;
    background-color: white;
    width: 400px;
    height: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h4{
    color: #1F3A93;
    font-size: 20px;
    font-weight: 400;
}
.images img{
    width: 100px;
    height: 100px;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.button{
    width: 70%;
    margin-top: 20px;
    padding: 15px;
    color: white;
    background-color: #F76C6C;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}


footer{
    background-color: #A8B9E7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 5%;
    flex-wrap: wrap;
}
footer a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
}
footer a:hover {
  text-decoration: underline;
  color: #dbe9ff;
}
.icons{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p{
    font-weight: 500;
    font-size: 24px;
}
