body{
    margin-top: 110px;
    background-color: #F8F9FA;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 2000px;
    margin-right: 5%;
    margin-left: 5%;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 38px;
    height: 100px;
    background-color: #1F3A93;
    z-index: 1;
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    transition: transform 0.2s ease;
}
a:hover{
    transform: scale(1.1);
}
.active{
    color: #A8B9E7;
}


h1{
    font-size: 48px;
    color: #1F3A93;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 20px;
    color:#3B4C66;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.bigcard{
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 450px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
    margin-bottom: 50px;
}
.bigcard img{
    width: 50%;
    height: 450px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.bigcard h3{font-size: 36px;}
.bigcard h4 {font-size: 14px;}
.bigcard h5{font-size: 24px;}
.text p{
    font-size: 18px;
    padding: 20px;
    color: #3B4C66;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.card{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    border: 1px solid #dcdfe6;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.image img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
h3{
    color: #1F3A93;
    font-size: 24px;
    font-weight: bold;
}
h4{
    color: #3B4C66;
    font-size: 12px;
}
h5{
    color: #3B4C66;
    font-size: 16px;
}
.text a{
    color: #F76C6C;
    font-size: 14px;
    font-weight: bolder;
}
.text a:hover{
    transform: scale(1);
    text-decoration: underline;
}
.button{
    margin-left: 45%;
    margin-bottom: 50px;
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: #F76C6C;
    border-radius: 8px;
}

footer{
    background-color: #A8B9E7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 5%;
    flex-wrap: wrap;
}
footer a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
}
footer a:hover {
  text-decoration: underline;
  color: #dbe9ff;
}
.icons{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p{
    font-weight: 500;
    font-size: 24px;
}
