body{
    margin-top: 110px;
    background-color: #F8F9FA;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 2000px;
    margin-right: 5%;
    margin-left: 5%;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 38px;
    height: 100px;
    background-color: #1F3A93;
    z-index: 1;
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    transition: transform 0.2s ease;
}
a:hover{
    transform: scale(1.1);
}
.active{
    color: #A8B9E7;
}


footer{
    background-color: #A8B9E7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 5%;
    flex-wrap: wrap;
}
footer a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
}
footer a:hover {
  text-decoration: underline;
  color: #dbe9ff;
}
.icons{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p{
    font-weight: 500;
    font-size: 24px;
}
