@media (max-width: 800px){
    h1{
        margin-top: 300px;
    }
    body{
        max-width: 1200px;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    ul a{
        font-size: 40px;
    }
    header{
        position:absolute;
        height: auto;
    }
    footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    }

    .icons {
    justify-content: center;
    margin-bottom: 20px;
    }

    .links a {
    display: block;
    margin: 10px 0;
    }

    footer p {
    font-size: 18px;
    }
    .line{
        display: none;
    }
}