@media (max-width: 1200px){
    body{
        max-width: 1200px;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    ul a{
        font-size: 40px;
    }
    header{
        height: auto;
    }
    .card{
        margin-top: 200px;
        flex-direction: column;
        gap: 30px;
        height: auto;
        text-align: center;
    }
    .text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .button{
        margin: 0;
    }
    .card img{
        width: 250px;
        height: 250px;
    }
    h1{
        font-size: 36px;
    }
    h3{
        margin: 0;
    }
    .cards, .container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-bottom: 50px;
    }
    footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    }

    .icons {
    justify-content: center;
    margin-bottom: 20px;
    }

    .links a {
    display: block;
    margin: 10px 0;
    }

    footer p {
    font-size: 18px;
    }


}
@media (max-width: 1400px){
    h1{
        font-size: 48px;
    }
    .sercard{
        margin-left: 10%;
        margin-right: 10%;
    }
    .cards{
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 50px;
    }
}