@media (max-width: 1400px){
    .text p{
        font-size: 11px;
    }
    .card{
        margin-bottom: 30px;
    }
}

@media (max-width: 900px) {
        h1{
        margin-top: 300px;
    }
    body{
        max-width: 1200px;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    ul a{
        font-size: 40px;
    }
    header{
        position:absolute;
        height: auto;
    }
    footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    }

    .icons {
    justify-content: center;
    margin-bottom: 20px;
    }

    .links a {
    display: block;
    margin: 10px 0;
    }

    footer p {
    font-size: 18px;
    }
    .bigcard {
        flex-direction: column;
        height: auto;
    }

    .bigcard img {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
    }

    .text {
        padding: 20px;
    }

    .bigcard h3 {
        font-size: 28px;
    }

    .bigcard h5 {
        font-size: 20px;
    }

    .text p {
        font-size: 16px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 30px;
    }
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 16px;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 12px 20px;
        font-size: 16px;
        text-align: center;
    }
}
